.liste {
  width: 70%;
  margin: 20px auto 0;
}

.path {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 5px;
  margin: 10px;
  font-family: "RobotoDraft","Roboto",sans-serif;
  font-size: 1.2rem;
}

.path:before {
  content: attr(data_dir);
}

.tracks {
  padding: 2px;
}

.track {
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.track:before {
  content: '-> ';
}
