* {
  margin : 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border : 0px 0px 0px 0px;
}
html {
  background: black;
  color: white;
}
body {
  width: 100%;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
audio {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin : 0px 0px 0px 0px;
}
li {
  background:#222;
  display:inline-block;
}
.album {
  color: #aaf;
  padding-right:5px;
}
.track {
  color: #fda;
  cursor: pointer;
}
