* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
html {
}
body {
  width: 100%;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
audio {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
